{% extends 'hospital/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Doctor</h1>
  <h1 class="display-4" style="text-align:center;">Welcome to Radiology Department</h1>
  
  <hr class="my-4">

  <p class="lead">
    <a class="btn btn-danger btn-lg" href="/patientsignup" role="button">Register Your Patient</a>
    <a class="btn btn-success btn-lg" href="/patientlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
